/*Add "glitch" class and data-text to your html element
Ex:
<h1 class="glitch" data-text="Hover over this!">Hover over this!</h1> */

.glitch {
  position: relative;
  color: rgb(248, 248, 246);
  mix-blend-mode: lighten;
}

.glitch:before,
.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}

.glitch:before {
  left: -4px;
  text-shadow: 6px 0 #ff00ff;
}

.glitch:hover:before {
  text-shadow: 4px 0 #ff00ff;
  animation: glitch-anim-1 0.4s infinite ease-in-out alternate-reverse;
}

.glitch:after {
  left: 4px;
  text-shadow: -3px 0 #00ffc8;
}

.glitch:hover:after {
  text-shadow: -5px 0 #00ffc8;
  animation: glitch-anim-2 0.3s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(30px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 100px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 105px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 80px, 0);
  }
  100% {
    clip: rect(90px, 9999px, 100px, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    top: -1px;
    left: 50px;
    clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
    top: -10px;
    left: 1px;
    clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
    top: -7px;
    left: 20px;
    clip: rect(65px, 9999px, 11px, 0);
  }
  75% {
    top: 10px;
    right: 20px;
    left: -50px;
    clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
    top: -5px;
    left: -7px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}
